body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

.app.dark {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  .app.dark::before {
    content: "";
    position: fixed;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, #3b82f6, transparent);
    top: -100px;
    left: -100px;
    filter: blur(120px);
    z-index: 0;
  }
  .app.dark::after {
    content: "";
    position: fixed;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #818cf8, transparent);
    bottom: -200px;
    right: -200px;
    filter: blur(140px);
    z-index: 0;
  }
}

.app.light {
  background: #f1f5f9;
  color: #0f172a;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.3);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: inherit;
}

.toggle {
  margin-left: 20px;
  cursor: pointer;
}

/* CONTAINER */
.container {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
  position: relative;
  z-index: 2;
}

/* HERO */
.hero {
  text-align: center;
  margin-bottom: 120px;
}

.hero h1 {
  font-size: 60px;
}

.typing {
  font-size: 24px;
  color: #38bdf8;
}

/* GLASS */
.glass {
  background: rgba(255,255,255,0.08);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.section {
  margin-bottom: 120px;
}

/* PROJECT GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

/* CONTACT */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.btn {
  padding: 12px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}
.page-transition {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3b82f6;
  top: 0;
  left: 0;
  z-index: 9999;
}